<div class="special-cat-box">
  <span class="title">فیلم و ویدئو</span>
  <div class="row">
    <div class="col-md-6">
      <div class="main-post">
        <a href="#">
          <figure>
            <img src="assets/img/290667058azer news.jpg" alt="">
            <figcaption>
              <span><i class="fa fa-folder-o"></i> خبر روز</span>
              <h3>ایپسوم متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت</h3>
              <span><i class="fa fa-comments-o"></i> 65</span>
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="main-post">
        <a href="#">
          <figure>
            <img src="assets/img/696112501123546.jpg" alt="">
            <figcaption>
              <span><i class="fa fa-folder-o"></i> خبر روز</span>
              <h3>ایپسوم متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت</h3>
              <span><i class="fa fa-comments-o"></i> 65</span>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="left-content">
        <div class="row">
          <div class="col-md-6">
            <a href="#">
              <div class="content">
                <figure>
                  <img src="assets/img/696112501123546.jpg" alt="">
                  <figcaption><i class="fa fa-external-link"></i></figcaption>
                </figure>
                <span>آموزشی</span>
                <span>انجمن</span>
                <h5> متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت</h5>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#">
              <div class="content">
                <figure>
                  <img src="assets/img/parsitarh-1038x515.png" alt="">
                  <figcaption><i class="fa fa-external-link"></i></figcaption>
                </figure>
                <span>آموزشی</span>
                <h5> متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت</h5>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#">
              <div class="content">
                <figure>
                  <img src="assets/img/karkhaneh_iran_3.jpg" alt="">
                  <figcaption><i class="fa fa-external-link"></i></figcaption>
                </figure>
                <span>آموزشی</span>
                <h5> متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت</h5>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#">
              <div class="content">
                <figure>
                  <img src="assets/img/1397022612335447514155694.jpg" alt="">
                  <figcaption><i class="fa fa-external-link"></i></figcaption>
                </figure>
                <span>آموزشی</span>
                <h5> متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
