<div class="ads-box">
    <span class="title">تبلیغات</span><br>
    <figure>
        <img src="img/unnamed.jpg" alt="">
    </figure>
    <figure>
        <img src="img/696112501123546.jpg" alt="">
    </figure>
</div>