<div class="l-sidebar">
  <div class="cat-sidebar">
    <span class="title">دسته بندی مطالب</span>
    <div class="text-end"><i class="fa fa-folder-o"></i></div>
    <ul>
      <li><a href="#">موضوعی</a><span>32</span></li>
      <li><a href="#">اخبار</a><span>322</span></li>
      <li><a href="#">انجمن</a><span>2</span></li>
      <li><a href="#">اتاق خبر</a><span>32</span></li>
      <li><a href="#">دسته بندی نشده</a><span>52</span></li>
      <li><a href="#">تستی</a><span>89</span></li>
      <li><a href="#">خبر روز</a><span>30</span></li>
      <li><a href="#">انجمن</a><span>74</span></li>
      <li><a href="#">اتاق خبر</a><span>65</span></li>
      <li><a href="#">دسته بندی نشده</a><span>81</span></li>
      <li><a href="#">تستی</a><span>72</span></li>
    </ul>
  </div>
</div>
