<div class="single_post">
  <div class="container-fluid container-xxl">
    <div class="post_content">
      <h4 class="top-title">ثبت نام در وبسایت</h4>
      <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">

          <div class="col-sm-12 col-md-6">
            <input type="text" class="form-control" formControlName="firstName" placeholder="نام">
            <span *ngIf="controls['firstName'].touched">
              <p *ngIf="controls['firstName'].errors?.['required']">
                لطفا نام را وارد کنید
              </p>
               <p *ngIf="controls['firstName'].errors?.['minlength']">
                نام وارد شده نمیتواند کمتر از 3 کاراکتر باشد
              </p>
              <p *ngIf="controls['firstName'].errors?.['maxlength']">
                نام وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
          </div>

          <div class="col-sm-12 col-md-6">
            <input type="text" class="form-control" formControlName="lastName" placeholder="نام و نام خانوادگی">
            <span *ngIf="controls['lastName'].touched">
              <p *ngIf="controls['lastName'].errors?.['required']">
                لطفا نام و نام خانوادگی را وارد کنید
              </p>
               <p *ngIf="controls['lastName'].errors?.['minlength']">
                نام و نام خانوادگی وارد شده نمیتواند کمتر از 3 کاراکتر باشد
              </p>
              <p *ngIf="controls['lastName'].errors?.['maxlength']">
                نام و نام خانوادگی وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
          </div>

          <div class="col-sm-12 col-md-6">
            <input type="email" class="form-control" formControlName="email" placeholder="ایمیل">
            <span *ngIf="controls['email'].touched">
              <p *ngIf="controls['email'].errors?.['required']">
                لطفا ایمیل را وارد کنید
              </p>
               <p *ngIf="controls['email'].errors?.['email']">
                 لطفا ایمیل خود را درست وارد کنید
              </p>
              <p *ngIf="controls['email'].errors?.['maxlength']">
                ایمیل وارد شده نمیتواند بیشتر از 100 کاراکتر باشد
              </p>
            </span>
          </div>

          <div class="col-sm-12 col-md-6">
            <input type="password" class="form-control" formControlName="password" placeholder="رمز عبور">
            <span *ngIf="controls['password'].touched">
              <p *ngIf="controls['password'].errors?.['required']">
                لطفا رمز عبور را وارد کنید
              </p>
               <p *ngIf="controls['password'].errors?.['minlength']">
                رمز عبور وارد شده نمیتواند کمتر از 6 کاراکتر باشد
              </p>
              <p *ngIf="controls['password'].errors?.['maxlength']">
                رمز عبور وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
          </div>

          <div class="col-sm-12 col-md-6">
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="تکرار رمز عبور">
            <span *ngIf="controls['confirmPassword'].touched">
              <p *ngIf="controls['confirmPassword'].errors?.['required']">
                لطفا تکرار رمز عبور را وارد کنید
              </p>
               <p *ngIf="controls['confirmPassword'].errors?.['minlength']">
                تکرار رمز عبور وارد شده نمیتواند کمتر از 6 کاراکتر باشد
              </p>
              <p *ngIf="controls['confirmPassword'].errors?.['maxlength']">
                تکرار رمز عبور وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-success w-100">ثبت</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="clear-fix"></div>
