<div class="post-box">
  <a [routerLink]="['/blog/detail',blog.blogId]">
    <figure>
      <img src="{{blog.imageFile | blogImage}}" alt="{{blog.blogTitle}}">
      <figcaption class="meta-fig">
        <span><i class="fa fa-clock-o"></i> {{blog.postedAt | persianDate}}</span>&nbsp;
        <span><i class="fa fa-comment-o"></i> {{blog.commentsCount | separate}}</span>
      </figcaption>
      <figcaption class="view">
        <span *ngFor="let tag of blog.tags">{{tag}}</span>
      </figcaption>
    </figure>
    <div class="text-p">
      <h5>{{blog.blogTitle}}</h5>
      <p>{{blog.summary}}</p>
      <div class="text-end">
        <a [routerLink]="['/blog/detail',blog.blogId]">ادامه ...</a></div>
    </div>
  </a>
</div>
