<div class="clear-fix"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-pictures></app-pictures>
    </div>
    <div class="col-md-6">
      <app-main-slider></app-main-slider>
    </div>
    <div class="col-md-3">
      <app-notes></app-notes>
    </div>
  </div>
</div>
<div class="clear-fix"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="r-sidebar">
          <app-conversation></app-conversation>
          <app-ads></app-ads>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-wrapper">
          <app-most-view-news></app-most-view-news>
          <app-video></app-video>
        </div>
      </div>
      <div class="col-md-3">
        <app-reports></app-reports>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <app-last-posts></app-last-posts>
</div>
<div class="clear-fix"></div>

<div class="bg"></div>
