<div class="single_post">
  <div class="container-fluid container-xxl">
    <div class="post_content">
      <h4 class="top-title">ویرایش دسته بندی جدید</h4>
      <form class="form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" formControlName="categoryTitle" placeholder="عنوان دسته بندی">
            <span *ngIf="controls['categoryTitle'].touched">
              <p *ngIf="controls['categoryTitle'].errors?.['required']">
                لطفا عنوان دسته بندی را وارد کنید
              </p>
               <p *ngIf="controls['categoryTitle'].errors?.['minlength']">
                عنوان دسته بندی وارد شده نمیتواند کمتر از 3 کاراکتر باشد
              </p>
              <p *ngIf="controls['categoryTitle'].errors?.['maxlength']">
                عنوان دسته بندی وارد شده نمیتواند بیشتر از 20 کاراکتر باشد
              </p>
            </span>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-success w-100">ثبت</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="clear-fix"></div>
