<div class="single_post">
  <div class="container-fluid container-xxl">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="post_img">
          <img src="{{blog.imageFile | blogImage}}" alt="{{blog.blogTitle}}">
        </div>
      </div>

    </div>
    <div class="posts_meta text-center">
      <span><i class="fa fa-comment-o"></i> {{blog.commentsCount | separate}} نظر</span>
      <span><i class="fa fa-calendar"></i> {{blog.postedAt | persianDate}}</span>
    </div>
    <app-blog-detail-categories [blogId]="blog.blogId"></app-blog-detail-categories>
    <app-blog-detail-tags [blogId]="blog.blogId"></app-blog-detail-tags>
    <div class="post_content">
      <h4>| {{blog.blogTitle}}</h4>
      <p>{{blog.summary}}</p>
      <p>{{blog.description}}</p>
    </div>
    <div class="comments_form">
      <h5>دیدگاه شما </h5>
      <app-blog-detail-add-comment [blogId]="blog.blogId"></app-blog-detail-add-comment>
      <app-blog-detail-comments [blogId]="blog.blogId"></app-blog-detail-comments>
    </div>
  </div>
</div>

