<div class="modal-header-custom">
  <h2 class="header-title">ویرایش مقام </h2>
  <span class="close" (click)="closeModal()">&times;</span>
</div>

<form class="form" [formGroup]="roleForm" (ngSubmit)="onSubmit()" *ngIf="roleForm != null">
  <div class="modal-body-custom">
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control" formControlName="roleName" placeholder="نام مقام">
        <span *ngIf="controls['roleName'].touched">
              <p *ngIf="controls['roleName'].errors?.['required']">
                لطفا نام مقام را وارد کنید
              </p>
               <p *ngIf="controls['roleName'].errors?.['minlength']">
                نام مقام وارد شده نمیتواند کمتر از 3 کاراکتر باشد
              </p>
              <p *ngIf="controls['roleName'].errors?.['maxlength']">
                نام مقام وارد شده نمیتواند بیشتر از 20 کاراکتر باشد
              </p>
            </span>
      </div>
    </div>
  </div>

  <div class="modal-footer-custom">
    <div class="row">

      <div class="col-6">
        <button class="btn btn-success text-white" type="submit">افزودن</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger text-white" (click)="closeModal()">
          خروج
        </button>
      </div>
    </div>
  </div>
</form>
