<div class="top-sidebar-r">
  <span class="title">عکس</span>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <figure>
              <img src="assets/img/696112501123546.jpg" alt="">
              <figcaption><span>1</span></figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6">
          <div class="meta">
            <h5>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
              گرافیک است. چاپگرها و...
            </h5>
            <span><i class="fa fa-clock-o"></i> 99/3/20</span>
            <sub><i class="fa fa-comment"></i> 26</sub>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <figure>
              <img src="assets/img/696112501123546.jpg" alt="">
              <figcaption><span>1</span></figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6">
          <div class="meta">
            <h5>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
              گرافیک است. چاپگرها و...
            </h5>
            <span><i class="fa fa-clock-o"></i> 99/3/20</span>
            <sub><i class="fa fa-comment"></i> 26</sub>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <figure>
              <img src="assets/img/696112501123546.jpg" alt="">
              <figcaption><span>1</span></figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6">
          <div class="meta">
            <h5>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
              گرافیک است. چاپگرها و...
            </h5>
            <span><i class="fa fa-clock-o"></i> 99/3/20</span>
            <sub><i class="fa fa-comment"></i> 26</sub>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <figure>
              <img src="assets/img/696112501123546.jpg" alt="">
              <figcaption><span>1</span></figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-6">
          <div class="meta">
            <h5>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
              گرافیک است. چاپگرها و...
            </h5>
            <span><i class="fa fa-clock-o"></i> 99/3/20</span>
            <sub><i class="fa fa-comment"></i> 26</sub>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
