<div class="modal-header-custom">
  <h2 class="header-title">ویرایش مشخصات</h2>
  <span class="close" (click)="closeModal()">&times;</span>
</div>

<form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" *ngIf="passwordForm != null">
  <div class="modal-body-custom">
    <div class="row">

      <div class="col-sm-12">
        <input type="password" class="form-control" formControlName="currentPassword" placeholder="رمز عبور فعلی">
        <span *ngIf="controls['currentPassword'].touched">
              <p *ngIf="controls['currentPassword'].errors?.['required']">
                لطفا رمز عبور فعلی را وارد کنید
              </p>
               <p *ngIf="controls['currentPassword'].errors?.['minlength']">
                رمز عبور فعلی وارد شده نمیتواند کمتر از 6 کاراکتر باشد
              </p>
              <p *ngIf="controls['currentPassword'].errors?.['maxlength']">
                رمز عبور فعلی وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
      </div>

      <div class="col-sm-12 col-md-6">
        <input type="password" class="form-control" formControlName="newPassword" placeholder="رمز عبور جدید">
        <span *ngIf="controls['newPassword'].touched">
              <p *ngIf="controls['newPassword'].errors?.['required']">
                لطفا رمز عبور جدید را وارد کنید
              </p>
               <p *ngIf="controls['newPassword'].errors?.['minlength']">
                رمز عبور جدید وارد شده نمیتواند کمتر از 6 کاراکتر باشد
              </p>
              <p *ngIf="controls['newPassword'].errors?.['maxlength']">
                رمز عبور جدید وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
      </div>

      <div class="col-sm-12 col-md-6">
        <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="تکرار رمز عبور جدید">
        <span *ngIf="controls['confirmNewPassword'].touched">
              <p *ngIf="controls['confirmNewPassword'].errors?.['required']">
                لطفا تکرار رمز عبور جدید را وارد کنید
              </p>
               <p *ngIf="controls['confirmNewPassword'].errors?.['minlength']">
                تکرار رمز عبور جدید وارد شده نمیتواند کمتر از 6 کاراکتر باشد
              </p>
              <p *ngIf="controls['confirmNewPassword'].errors?.['maxlength']">
                تکرار رمز عبور جدید وارد شده نمیتواند بیشتر از 50 کاراکتر باشد
              </p>
            </span>
      </div>
    </div>
  </div>

  <div class="modal-footer-custom">
    <div class="row">

      <div class="col-6">
        <button class="btn btn-success text-white" type="submit">ویرایش</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger text-white" (click)="closeModal()">
          خروج
        </button>
      </div>
    </div>
  </div>


</form>
