<div class="single_post">
  <div class="container-fluid container-xxl">
    <div class="post_content">
      <h4 class="top-title">تگ ها</h4>
      <button class="btn btn-success text-white float-end mb-3 w-25" (click)="newTag()">جدید</button>
      <table class="table table-hover">
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">نام تگ</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tag of tags; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{tag.tagName}}</td>
          <td>
            <button class="btn btn-warning text-white" (click)="updateTag(tag.tagId)">ویرایش</button>
            <button class="btn btn-danger text-white mx-2">حذف</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear-fix"></div>
