<div class="top-sidebar-l">
  <span class="title">یادداشت</span>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-3 nopadding">
          <span><i class="fa fa-heart"></i> 56</span>
        </div>
        <div class="col-md-8 nopadding">
          <h3>
            رم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک
            است. چاپگرها و متو
          </h3>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-3 nopadding">
          <span><i class="fa fa-heart"></i> 56</span>
        </div>
        <div class="col-md-8 nopadding">
          <h3>
            رم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک
            است. چاپگرها و متو
          </h3>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-3 nopadding">
          <span><i class="fa fa-heart"></i> 56</span>
        </div>
        <div class="col-md-8 nopadding">
          <h3>
            رم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک
            است. چاپگرها و متو
          </h3>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="bx">
      <div class="row">
        <div class="col-md-3 nopadding">
          <span><i class="fa fa-heart"></i> 56</span>
        </div>
        <div class="col-md-8 nopadding">
          <h3>
            رم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک
            است. چاپگرها و متو
          </h3>
        </div>
      </div>
    </div>
  </a>
</div>
