<div class="post-box">
  <a href="#">
    <figure>
      <img src="" alt="">
      <figcaption class="meta-fig">
        <span><i class="fa fa-clock-o"></i> 99/3/20</span>&nbsp;
        <span><i class="fa fa-comment-o"></i> 12</span>
      </figcaption>
      <figcaption class="view">
        <span>بخش ویژه</span>
        <span>انجمن</span>
        <span>اتاق خبر</span>
      </figcaption>
    </figure>
    <div class="text-p">
      <h5>چگونه از اشخاص مطالبی که دوست نداریم دوری کنیم ؟</h5>
      <p> متن ساختگی با تولید سادگی نامفهوم تولید سادگی از صنعت متن ساختگی با تولید سادگی
        نامفهوم تولید سادگی از صنعت
      </p>
      <div class="text-rigt">
        <a href="#">ادامه ...</a></div>
    </div>
  </a>
</div>
