<div class="single_post">
  <div class="container-fluid container-xxl">
    <div class="post_content">
      <h4 class="top-title">اطلاعات کاربری</h4>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <label>نام و نام خانوادگی: </label>
          <span>{{dashboard.firstName}} {{dashboard.lastName}}</span>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <label>ایمیل: </label>
          <span>{{dashboard.email}}</span>
        </div>
      </div>
      <div class="mt-3 text-end">
        <button class="btn btn-danger text-white">ویرایش رمز عبور</button>
        <button class="btn btn-warning text-white ms-3" (click)="editDashboard()">ویرایش حساب کاربری</button>
      </div>
    </div>
  </div>
</div>
<div class="clear-fix"></div>
